<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>familyName</key>
	<string>Newt Serif Demi</string>
	<key>styleName</key>
	<string>Demi</string>
	<key>copyright</key>
	<string>Copyright (c) 2008 by Nathanael Bonnell. All rights reserved.</string>
	<key>trademark</key>
	<string>Newt Serif is a trademark of Nathanael Bonnell.</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>xHeight</key>
	<integer>450</integer>
	<key>capHeight</key>
	<integer>603</integer>
	<key>ascender</key>
	<integer>705</integer>
	<key>descender</key>
	<integer>-295</integer>
	<key>italicAngle</key>
	<real>0</real>
	<key>note</key>
	<string></string>
	<key>openTypeHeadCreated</key>
	<string>2013/02/07 16:22:12</string>
	<key>openTypeHheaAscender</key>
	<integer>870</integer>
	<key>openTypeHheaDescender</key>
	<integer>-330</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDesigner</key>
	<string>Nathanael Bonnell</string>
	<key>openTypeNameManufacturer</key>
	<string>Nathanael Bonnell</string>
	<key>openTypeNameVersion</key>
	<string>Version 1</string>
	<key>openTypeNameUniqueID</key>
	<string>NathanaelBonnell: Newt Serif Demi: 2013</string>
	<key>openTypeNameDescription</key>
	<string>Copyright (c) 2008 by Nathanael Bonnell. All rights reserved.</string>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>3</integer>
		<integer>7</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>0</integer>
		<integer>4</integer>
	</array>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2VendorID</key>
	<string></string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Type</key>
	<array>
		<integer>3</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>705</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-295</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>200</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>870</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>330</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>541</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>503</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>62</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>541</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>503</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>289</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>41</integer>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>234</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>5</integer>
		<integer>31</integer>
		<integer>33</integer>
		<integer>38</integer>
		<integer>62</integer>
	</array>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>4</integer>
		<integer>7</integer>
		<integer>29</integer>
	</array>
	<key>postscriptFontName</key>
	<string>NewtSerifDemi</string>
	<key>postscriptFullName</key>
	<string>Newt Serif Demi</string>
	<key>postscriptWeightName</key>
	<string>Normal</string>
	<key>postscriptUnderlineThickness</key>
	<integer>41</integer>
	<key>postscriptUnderlinePosition</key>
	<integer>-90</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-19</integer>
		<integer>0</integer>
		<integer>435</integer>
		<integer>444</integer>
		<integer>603</integer>
		<integer>614</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-276</integer>
		<integer>-271</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>33</integer>
		<integer>37</integer>
		<integer>40</integer>
		<integer>44</integer>
		<integer>53</integer>
		<integer>62</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>91</integer>
		<integer>100</integer>
	</array>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
    </dict>
</plist>
