<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>parenleft</key>
	<dict>
	    <key>fl</key>
	    <integer>27</integer>
	    <key>fi</key>
	    <integer>27</integer>
	    <key>longs</key>
	    <integer>37</integer>
	    <key>jcircumflex</key>
	    <integer>37</integer>
	    <key>germandbls</key>
	    <integer>27</integer>
	    <key>j</key>
	    <integer>37</integer>
	    <key>f</key>
	    <integer>27</integer>
	</dict>
	<key>hyphen</key>
	<dict>
	    <key>X</key>
	    <integer>-34</integer>
	</dict>
	<key>seven</key>
	<dict>
	    <key>four</key>
	    <integer>-34</integer>
	</dict>
	<key>A</key>
	<dict>
	    <key>p</key>
	    <integer>-21</integer>
	</dict>
	<key>B</key>
	<dict>
	    <key>emdash</key>
	    <integer>17</integer>
	    <key>endash</key>
	    <integer>17</integer>
	    <key>zcaron</key>
	    <integer>-17</integer>
	    <key>zdotaccent</key>
	    <integer>-17</integer>
	    <key>zacute</key>
	    <integer>-17</integer>
	    <key>Ydieresis</key>
	    <integer>-67</integer>
	    <key>Ycircumflex</key>
	    <integer>-67</integer>
	    <key>Wcircumflex</key>
	    <integer>-78</integer>
	    <key>Uogonek</key>
	    <integer>-52</integer>
	    <key>Uhungarumlaut</key>
	    <integer>-52</integer>
	    <key>Uring</key>
	    <integer>-52</integer>
	    <key>Ubreve</key>
	    <integer>-52</integer>
	    <key>Umacron</key>
	    <integer>-52</integer>
	    <key>Utilde</key>
	    <integer>-52</integer>
	    <key>Tbar</key>
	    <integer>-31</integer>
	    <key>Tcaron</key>
	    <integer>-31</integer>
	    <key>Tcommaaccent</key>
	    <integer>-31</integer>
	    <key>OE</key>
	    <integer>15</integer>
	    <key>Ohungarumlaut</key>
	    <integer>15</integer>
	    <key>Obreve</key>
	    <integer>15</integer>
	    <key>Omacron</key>
	    <integer>15</integer>
	    <key>Ncaron</key>
	    <integer>-23</integer>
	    <key>Ncommaaccent</key>
	    <integer>-23</integer>
	    <key>Nacute</key>
	    <integer>-23</integer>
	    <key>kcommaaccent</key>
	    <integer>-12</integer>
	    <key>hbar</key>
	    <integer>-12</integer>
	    <key>hcircumflex</key>
	    <integer>-12</integer>
	    <key>Dcroat</key>
	    <integer>-26</integer>
	    <key>Dcaron</key>
	    <integer>-26</integer>
	    <key>thorn</key>
	    <integer>-12</integer>
	    <key>Yacute</key>
	    <integer>-67</integer>
	    <key>Udieresis</key>
	    <integer>-52</integer>
	    <key>Ucircumflex</key>
	    <integer>-52</integer>
	    <key>Uacute</key>
	    <integer>-52</integer>
	    <key>Ugrave</key>
	    <integer>-52</integer>
	    <key>Oslash</key>
	    <integer>15</integer>
	    <key>Odieresis</key>
	    <integer>15</integer>
	    <key>Otilde</key>
	    <integer>15</integer>
	    <key>Ocircumflex</key>
	    <integer>15</integer>
	    <key>Oacute</key>
	    <integer>15</integer>
	    <key>Ograve</key>
	    <integer>15</integer>
	    <key>Ntilde</key>
	    <integer>-23</integer>
	    <key>Eth</key>
	    <integer>-26</integer>
	    <key>z</key>
	    <integer>-17</integer>
	    <key>k</key>
	    <integer>-12</integer>
	    <key>h</key>
	    <integer>-12</integer>
	    <key>Y</key>
	    <integer>-67</integer>
	    <key>W</key>
	    <integer>-78</integer>
	    <key>V</key>
	    <integer>-78</integer>
	    <key>U</key>
	    <integer>-52</integer>
	    <key>T</key>
	    <integer>-31</integer>
	    <key>Q</key>
	    <integer>15</integer>
	    <key>O</key>
	    <integer>15</integer>
	    <key>N</key>
	    <integer>-23</integer>
	    <key>D</key>
	    <integer>-26</integer>
	    <key>B</key>
	    <integer>-26</integer>
	    <key>hyphen</key>
	    <integer>17</integer>
	    <key>X</key>
	    <integer>-20</integer>
	    <key>M</key>
	    <integer>-17</integer>
	</dict>
	<key>C</key>
	<dict>
	    <key>M</key>
	    <integer>-10</integer>
	</dict>
	<key>D</key>
	<dict>
	    <key>AE</key>
	    <integer>-27</integer>
	    <key>X</key>
	    <integer>-33</integer>
	</dict>
	<key>E</key>
	<dict>
	    <key>X</key>
	    <integer>-18</integer>
	</dict>
	<key>F</key>
	<dict>
	    <key>zcaron</key>
	    <integer>-41</integer>
	    <key>zdotaccent</key>
	    <integer>-41</integer>
	    <key>zacute</key>
	    <integer>-41</integer>
	    <key>Tbar</key>
	    <integer>20</integer>
	    <key>Tcaron</key>
	    <integer>20</integer>
	    <key>Tcommaaccent</key>
	    <integer>20</integer>
	    <key>oe</key>
	    <integer>-57</integer>
	    <key>ohungarumlaut</key>
	    <integer>-57</integer>
	    <key>obreve</key>
	    <integer>-57</integer>
	    <key>omacron</key>
	    <integer>-57</integer>
	    <key>dcroat</key>
	    <integer>-58</integer>
	    <key>dcaron</key>
	    <integer>-58</integer>
	    <key>aogonek</key>
	    <integer>-58</integer>
	    <key>Aogonek</key>
	    <integer>-58</integer>
	    <key>abreve</key>
	    <integer>-58</integer>
	    <key>Abreve</key>
	    <integer>-58</integer>
	    <key>amacron</key>
	    <integer>-58</integer>
	    <key>Amacron</key>
	    <integer>-58</integer>
	    <key>oslash</key>
	    <integer>-57</integer>
	    <key>odieresis</key>
	    <integer>-57</integer>
	    <key>otilde</key>
	    <integer>-57</integer>
	    <key>ocircumflex</key>
	    <integer>-57</integer>
	    <key>oacute</key>
	    <integer>-57</integer>
	    <key>ograve</key>
	    <integer>-57</integer>
	    <key>ae</key>
	    <integer>-58</integer>
	    <key>aring</key>
	    <integer>-58</integer>
	    <key>adieresis</key>
	    <integer>-58</integer>
	    <key>atilde</key>
	    <integer>-58</integer>
	    <key>acircumflex</key>
	    <integer>-58</integer>
	    <key>aacute</key>
	    <integer>-58</integer>
	    <key>agrave</key>
	    <integer>-58</integer>
	    <key>Aring</key>
	    <integer>-58</integer>
	    <key>Adieresis</key>
	    <integer>-58</integer>
	    <key>Atilde</key>
	    <integer>-58</integer>
	    <key>Acircumflex</key>
	    <integer>-58</integer>
	    <key>Aacute</key>
	    <integer>-58</integer>
	    <key>Agrave</key>
	    <integer>-58</integer>
	    <key>z</key>
	    <integer>-41</integer>
	    <key>q</key>
	    <integer>-58</integer>
	    <key>o</key>
	    <integer>-57</integer>
	    <key>e</key>
	    <integer>-57</integer>
	    <key>d</key>
	    <integer>-58</integer>
	    <key>c</key>
	    <integer>-57</integer>
	    <key>a</key>
	    <integer>-58</integer>
	    <key>T</key>
	    <integer>20</integer>
	    <key>A</key>
	    <integer>-58</integer>
	    <key>period</key>
	    <integer>-77</integer>
	    <key>comma</key>
	    <integer>-77</integer>
	    <key>AE</key>
	    <integer>-92</integer>
	    <key>x</key>
	    <integer>-32</integer>
	    <key>M</key>
	    <integer>-40</integer>
	</dict>
	<key>G</key>
	<dict>
	    <key>X</key>
	    <integer>-29</integer>
	    <key>M</key>
	    <integer>-12</integer>
	</dict>
	<key>J</key>
	<dict>
	    <key>AE</key>
	    <integer>-25</integer>
	    <key>x</key>
	    <integer>-17</integer>
	    <key>M</key>
	    <integer>-21</integer>
	</dict>
	<key>M</key>
	<dict>
	    <key>Ydieresis</key>
	    <integer>-53</integer>
	    <key>ycircumflex</key>
	    <integer>-16</integer>
	    <key>Ycircumflex</key>
	    <integer>-53</integer>
	    <key>wcircumflex</key>
	    <integer>-16</integer>
	    <key>Wcircumflex</key>
	    <integer>-67</integer>
	    <key>uogonek</key>
	    <integer>-16</integer>
	    <key>Uogonek</key>
	    <integer>-65</integer>
	    <key>uhungarumlaut</key>
	    <integer>-16</integer>
	    <key>Uhungarumlaut</key>
	    <integer>-65</integer>
	    <key>uring</key>
	    <integer>-16</integer>
	    <key>Uring</key>
	    <integer>-65</integer>
	    <key>ubreve</key>
	    <integer>-16</integer>
	    <key>Ubreve</key>
	    <integer>-65</integer>
	    <key>umacron</key>
	    <integer>-16</integer>
	    <key>Umacron</key>
	    <integer>-65</integer>
	    <key>utilde</key>
	    <integer>-16</integer>
	    <key>Utilde</key>
	    <integer>-65</integer>
	    <key>Tbar</key>
	    <integer>-49</integer>
	    <key>Tcaron</key>
	    <integer>-49</integer>
	    <key>Tcommaaccent</key>
	    <integer>-49</integer>
	    <key>oe</key>
	    <integer>-15</integer>
	    <key>ohungarumlaut</key>
	    <integer>-15</integer>
	    <key>obreve</key>
	    <integer>-15</integer>
	    <key>omacron</key>
	    <integer>-15</integer>
	    <key>Ncaron</key>
	    <integer>-18</integer>
	    <key>Ncommaaccent</key>
	    <integer>-18</integer>
	    <key>Nacute</key>
	    <integer>-18</integer>
	    <key>ij</key>
	    <integer>-17</integer>
	    <key>dotlessi</key>
	    <integer>-17</integer>
	    <key>iogonek</key>
	    <integer>-17</integer>
	    <key>ibreve</key>
	    <integer>-17</integer>
	    <key>imacron</key>
	    <integer>-17</integer>
	    <key>itilde</key>
	    <integer>-17</integer>
	    <key>Gcommaaccent</key>
	    <integer>-17</integer>
	    <key>Gdotaccent</key>
	    <integer>-17</integer>
	    <key>Gbreve</key>
	    <integer>-17</integer>
	    <key>Gcircumflex</key>
	    <integer>-17</integer>
	    <key>Dcroat</key>
	    <integer>-35</integer>
	    <key>Dcaron</key>
	    <integer>-35</integer>
	    <key>Ccaron</key>
	    <integer>-17</integer>
	    <key>Cdotaccent</key>
	    <integer>-17</integer>
	    <key>Ccircumflex</key>
	    <integer>-17</integer>
	    <key>Cacute</key>
	    <integer>-17</integer>
	    <key>ydieresis</key>
	    <integer>-16</integer>
	    <key>yacute</key>
	    <integer>-16</integer>
	    <key>udieresis</key>
	    <integer>-16</integer>
	    <key>ucircumflex</key>
	    <integer>-16</integer>
	    <key>uacute</key>
	    <integer>-16</integer>
	    <key>ugrave</key>
	    <integer>-16</integer>
	    <key>oslash</key>
	    <integer>-15</integer>
	    <key>odieresis</key>
	    <integer>-15</integer>
	    <key>otilde</key>
	    <integer>-15</integer>
	    <key>ocircumflex</key>
	    <integer>-15</integer>
	    <key>oacute</key>
	    <integer>-15</integer>
	    <key>ograve</key>
	    <integer>-15</integer>
	    <key>idieresis</key>
	    <integer>-17</integer>
	    <key>icircumflex</key>
	    <integer>-17</integer>
	    <key>iacute</key>
	    <integer>-17</integer>
	    <key>igrave</key>
	    <integer>-17</integer>
	    <key>Yacute</key>
	    <integer>-53</integer>
	    <key>Udieresis</key>
	    <integer>-65</integer>
	    <key>Ucircumflex</key>
	    <integer>-65</integer>
	    <key>Uacute</key>
	    <integer>-65</integer>
	    <key>Ugrave</key>
	    <integer>-65</integer>
	    <key>Ntilde</key>
	    <integer>-18</integer>
	    <key>Eth</key>
	    <integer>-35</integer>
	    <key>y</key>
	    <integer>-16</integer>
	    <key>w</key>
	    <integer>-16</integer>
	    <key>v</key>
	    <integer>-16</integer>
	    <key>u</key>
	    <integer>-16</integer>
	    <key>t</key>
	    <integer>-17</integer>
	    <key>o</key>
	    <integer>-15</integer>
	    <key>i</key>
	    <integer>-17</integer>
	    <key>e</key>
	    <integer>-15</integer>
	    <key>c</key>
	    <integer>-15</integer>
	    <key>Y</key>
	    <integer>-53</integer>
	    <key>W</key>
	    <integer>-67</integer>
	    <key>V</key>
	    <integer>-67</integer>
	    <key>U</key>
	    <integer>-65</integer>
	    <key>T</key>
	    <integer>-49</integer>
	    <key>N</key>
	    <integer>-18</integer>
	    <key>G</key>
	    <integer>-17</integer>
	    <key>D</key>
	    <integer>-35</integer>
	    <key>C</key>
	    <integer>-17</integer>
	    <key>B</key>
	    <integer>-35</integer>
	</dict>
	<key>N</key>
	<dict>
	    <key>M</key>
	    <integer>-14</integer>
	</dict>
	<key>O</key>
	<dict>
	    <key>X</key>
	    <integer>-10</integer>
	    <key>M</key>
	    <integer>-10</integer>
	</dict>
	<key>P</key>
	<dict>
	    <key>fl</key>
	    <integer>24</integer>
	    <key>fi</key>
	    <integer>24</integer>
	    <key>guilsinglleft</key>
	    <integer>-11</integer>
	    <key>emdash</key>
	    <integer>25</integer>
	    <key>endash</key>
	    <integer>25</integer>
	    <key>Scommaaccent</key>
	    <integer>20</integer>
	    <key>longs</key>
	    <integer>13</integer>
	    <key>zcaron</key>
	    <integer>-14</integer>
	    <key>zdotaccent</key>
	    <integer>-14</integer>
	    <key>zacute</key>
	    <integer>-14</integer>
	    <key>Ydieresis</key>
	    <integer>-8</integer>
	    <key>ycircumflex</key>
	    <integer>22</integer>
	    <key>Ycircumflex</key>
	    <integer>-8</integer>
	    <key>wcircumflex</key>
	    <integer>22</integer>
	    <key>Wcircumflex</key>
	    <integer>-14</integer>
	    <key>uogonek</key>
	    <integer>22</integer>
	    <key>uhungarumlaut</key>
	    <integer>22</integer>
	    <key>uring</key>
	    <integer>22</integer>
	    <key>ubreve</key>
	    <integer>22</integer>
	    <key>umacron</key>
	    <integer>22</integer>
	    <key>utilde</key>
	    <integer>22</integer>
	    <key>Tbar</key>
	    <integer>43</integer>
	    <key>Tcaron</key>
	    <integer>43</integer>
	    <key>Tcommaaccent</key>
	    <integer>43</integer>
	    <key>Scaron</key>
	    <integer>20</integer>
	    <key>Scedilla</key>
	    <integer>20</integer>
	    <key>Scircumflex</key>
	    <integer>20</integer>
	    <key>Sacute</key>
	    <integer>20</integer>
	    <key>rcaron</key>
	    <integer>20</integer>
	    <key>rcommaaccent</key>
	    <integer>20</integer>
	    <key>racute</key>
	    <integer>20</integer>
	    <key>oe</key>
	    <integer>-24</integer>
	    <key>OE</key>
	    <integer>24</integer>
	    <key>ohungarumlaut</key>
	    <integer>-24</integer>
	    <key>Ohungarumlaut</key>
	    <integer>24</integer>
	    <key>obreve</key>
	    <integer>-24</integer>
	    <key>Obreve</key>
	    <integer>24</integer>
	    <key>omacron</key>
	    <integer>-24</integer>
	    <key>Omacron</key>
	    <integer>24</integer>
	    <key>eng</key>
	    <integer>20</integer>
	    <key>ncaron</key>
	    <integer>20</integer>
	    <key>ncommaaccent</key>
	    <integer>20</integer>
	    <key>nacute</key>
	    <integer>20</integer>
	    <key>kgreenlandic</key>
	    <integer>20</integer>
	    <key>jcircumflex</key>
	    <integer>13</integer>
	    <key>ij</key>
	    <integer>24</integer>
	    <key>dotlessi</key>
	    <integer>24</integer>
	    <key>iogonek</key>
	    <integer>24</integer>
	    <key>ibreve</key>
	    <integer>24</integer>
	    <key>imacron</key>
	    <integer>24</integer>
	    <key>itilde</key>
	    <integer>24</integer>
	    <key>gcommaaccent</key>
	    <integer>-31</integer>
	    <key>Gcommaaccent</key>
	    <integer>41</integer>
	    <key>gdotaccent</key>
	    <integer>-31</integer>
	    <key>Gdotaccent</key>
	    <integer>41</integer>
	    <key>gbreve</key>
	    <integer>-31</integer>
	    <key>Gbreve</key>
	    <integer>41</integer>
	    <key>gcircumflex</key>
	    <integer>-31</integer>
	    <key>Gcircumflex</key>
	    <integer>41</integer>
	    <key>dcroat</key>
	    <integer>-31</integer>
	    <key>dcaron</key>
	    <integer>-31</integer>
	    <key>Ccaron</key>
	    <integer>41</integer>
	    <key>Cdotaccent</key>
	    <integer>41</integer>
	    <key>Ccircumflex</key>
	    <integer>41</integer>
	    <key>Cacute</key>
	    <integer>41</integer>
	    <key>aogonek</key>
	    <integer>-31</integer>
	    <key>Aogonek</key>
	    <integer>-65</integer>
	    <key>abreve</key>
	    <integer>-31</integer>
	    <key>Abreve</key>
	    <integer>-65</integer>
	    <key>amacron</key>
	    <integer>-31</integer>
	    <key>Amacron</key>
	    <integer>-65</integer>
	    <key>ydieresis</key>
	    <integer>22</integer>
	    <key>yacute</key>
	    <integer>22</integer>
	    <key>udieresis</key>
	    <integer>22</integer>
	    <key>ucircumflex</key>
	    <integer>22</integer>
	    <key>uacute</key>
	    <integer>22</integer>
	    <key>ugrave</key>
	    <integer>22</integer>
	    <key>oslash</key>
	    <integer>-24</integer>
	    <key>odieresis</key>
	    <integer>-24</integer>
	    <key>otilde</key>
	    <integer>-24</integer>
	    <key>ocircumflex</key>
	    <integer>-24</integer>
	    <key>oacute</key>
	    <integer>-24</integer>
	    <key>ograve</key>
	    <integer>-24</integer>
	    <key>ntilde</key>
	    <integer>20</integer>
	    <key>idieresis</key>
	    <integer>24</integer>
	    <key>icircumflex</key>
	    <integer>24</integer>
	    <key>iacute</key>
	    <integer>24</integer>
	    <key>igrave</key>
	    <integer>24</integer>
	    <key>ae</key>
	    <integer>-31</integer>
	    <key>aring</key>
	    <integer>-31</integer>
	    <key>adieresis</key>
	    <integer>-31</integer>
	    <key>atilde</key>
	    <integer>-31</integer>
	    <key>acircumflex</key>
	    <integer>-31</integer>
	    <key>aacute</key>
	    <integer>-31</integer>
	    <key>agrave</key>
	    <integer>-31</integer>
	    <key>germandbls</key>
	    <integer>24</integer>
	    <key>Yacute</key>
	    <integer>-8</integer>
	    <key>Oslash</key>
	    <integer>24</integer>
	    <key>Odieresis</key>
	    <integer>24</integer>
	    <key>Otilde</key>
	    <integer>24</integer>
	    <key>Ocircumflex</key>
	    <integer>24</integer>
	    <key>Oacute</key>
	    <integer>24</integer>
	    <key>Ograve</key>
	    <integer>24</integer>
	    <key>Aring</key>
	    <integer>-65</integer>
	    <key>Adieresis</key>
	    <integer>-65</integer>
	    <key>Atilde</key>
	    <integer>-65</integer>
	    <key>Acircumflex</key>
	    <integer>-65</integer>
	    <key>Aacute</key>
	    <integer>-65</integer>
	    <key>Agrave</key>
	    <integer>-65</integer>
	    <key>guillemotleft</key>
	    <integer>-11</integer>
	    <key>z</key>
	    <integer>-14</integer>
	    <key>y</key>
	    <integer>22</integer>
	    <key>w</key>
	    <integer>22</integer>
	    <key>v</key>
	    <integer>22</integer>
	    <key>u</key>
	    <integer>22</integer>
	    <key>t</key>
	    <integer>24</integer>
	    <key>r</key>
	    <integer>20</integer>
	    <key>q</key>
	    <integer>-31</integer>
	    <key>n</key>
	    <integer>20</integer>
	    <key>m</key>
	    <integer>20</integer>
	    <key>j</key>
	    <integer>13</integer>
	    <key>i</key>
	    <integer>24</integer>
	    <key>g</key>
	    <integer>-31</integer>
	    <key>f</key>
	    <integer>24</integer>
	    <key>e</key>
	    <integer>-24</integer>
	    <key>d</key>
	    <integer>-31</integer>
	    <key>c</key>
	    <integer>-24</integer>
	    <key>a</key>
	    <integer>-31</integer>
	    <key>Y</key>
	    <integer>-8</integer>
	    <key>W</key>
	    <integer>-14</integer>
	    <key>V</key>
	    <integer>-14</integer>
	    <key>T</key>
	    <integer>43</integer>
	    <key>S</key>
	    <integer>20</integer>
	    <key>Q</key>
	    <integer>24</integer>
	    <key>O</key>
	    <integer>24</integer>
	    <key>G</key>
	    <integer>41</integer>
	    <key>C</key>
	    <integer>41</integer>
	    <key>A</key>
	    <integer>-65</integer>
	    <key>period</key>
	    <integer>-136</integer>
	    <key>hyphen</key>
	    <integer>25</integer>
	    <key>comma</key>
	    <integer>-136</integer>
	    <key>x</key>
	    <integer>-12</integer>
	    <key>o</key>
	    <integer>-27</integer>
	    <key>M</key>
	    <integer>-14</integer>
	    <key>question</key>
	    <integer>43</integer>
	</dict>
	<key>Q</key>
	<dict>
	    <key>X</key>
	    <integer>-10</integer>
	    <key>M</key>
	    <integer>-10</integer>
	</dict>
	<key>T</key>
	<dict>
	    <key>AE</key>
	    <integer>-42</integer>
	    <key>o</key>
	    <integer>-43</integer>
	    <key>M</key>
	    <integer>-17</integer>
	</dict>
	<key>U</key>
	<dict>
	    <key>p</key>
	    <integer>-26</integer>
	</dict>
	<key>V</key>
	<dict>
	    <key>AE</key>
	    <integer>-84</integer>
	    <key>x</key>
	    <integer>-19</integer>
	    <key>M</key>
	    <integer>-24</integer>
	</dict>
	<key>W</key>
	<dict>
	    <key>AE</key>
	    <integer>-84</integer>
	    <key>x</key>
	    <integer>-19</integer>
	    <key>M</key>
	    <integer>-24</integer>
	</dict>
	<key>X</key>
	<dict>
	    <key>emdash</key>
	    <integer>-42</integer>
	    <key>endash</key>
	    <integer>-42</integer>
	    <key>Ydieresis</key>
	    <integer>-76</integer>
	    <key>ycircumflex</key>
	    <integer>-10</integer>
	    <key>Ycircumflex</key>
	    <integer>-76</integer>
	    <key>wcircumflex</key>
	    <integer>-10</integer>
	    <key>Wcircumflex</key>
	    <integer>-93</integer>
	    <key>uogonek</key>
	    <integer>-10</integer>
	    <key>Uogonek</key>
	    <integer>-70</integer>
	    <key>uhungarumlaut</key>
	    <integer>-10</integer>
	    <key>Uhungarumlaut</key>
	    <integer>-70</integer>
	    <key>uring</key>
	    <integer>-10</integer>
	    <key>Uring</key>
	    <integer>-70</integer>
	    <key>ubreve</key>
	    <integer>-10</integer>
	    <key>Ubreve</key>
	    <integer>-70</integer>
	    <key>umacron</key>
	    <integer>-10</integer>
	    <key>Umacron</key>
	    <integer>-70</integer>
	    <key>utilde</key>
	    <integer>-10</integer>
	    <key>Utilde</key>
	    <integer>-70</integer>
	    <key>Tbar</key>
	    <integer>-81</integer>
	    <key>Tcaron</key>
	    <integer>-81</integer>
	    <key>Tcommaaccent</key>
	    <integer>-81</integer>
	    <key>Gcommaaccent</key>
	    <integer>-19</integer>
	    <key>Gdotaccent</key>
	    <integer>-19</integer>
	    <key>Gbreve</key>
	    <integer>-19</integer>
	    <key>Gcircumflex</key>
	    <integer>-19</integer>
	    <key>Dcroat</key>
	    <integer>-34</integer>
	    <key>Dcaron</key>
	    <integer>-34</integer>
	    <key>Ccaron</key>
	    <integer>-19</integer>
	    <key>Cdotaccent</key>
	    <integer>-19</integer>
	    <key>Ccircumflex</key>
	    <integer>-19</integer>
	    <key>Cacute</key>
	    <integer>-19</integer>
	    <key>Aogonek</key>
	    <integer>25</integer>
	    <key>Abreve</key>
	    <integer>25</integer>
	    <key>Amacron</key>
	    <integer>25</integer>
	    <key>ydieresis</key>
	    <integer>-10</integer>
	    <key>yacute</key>
	    <integer>-10</integer>
	    <key>udieresis</key>
	    <integer>-10</integer>
	    <key>ucircumflex</key>
	    <integer>-10</integer>
	    <key>uacute</key>
	    <integer>-10</integer>
	    <key>ugrave</key>
	    <integer>-10</integer>
	    <key>Yacute</key>
	    <integer>-76</integer>
	    <key>Udieresis</key>
	    <integer>-70</integer>
	    <key>Ucircumflex</key>
	    <integer>-70</integer>
	    <key>Uacute</key>
	    <integer>-70</integer>
	    <key>Ugrave</key>
	    <integer>-70</integer>
	    <key>Eth</key>
	    <integer>-34</integer>
	    <key>Aring</key>
	    <integer>25</integer>
	    <key>Adieresis</key>
	    <integer>25</integer>
	    <key>Atilde</key>
	    <integer>25</integer>
	    <key>Acircumflex</key>
	    <integer>25</integer>
	    <key>Aacute</key>
	    <integer>25</integer>
	    <key>Agrave</key>
	    <integer>25</integer>
	    <key>y</key>
	    <integer>-10</integer>
	    <key>w</key>
	    <integer>-10</integer>
	    <key>v</key>
	    <integer>-10</integer>
	    <key>u</key>
	    <integer>-10</integer>
	    <key>Y</key>
	    <integer>-76</integer>
	    <key>W</key>
	    <integer>-93</integer>
	    <key>V</key>
	    <integer>-93</integer>
	    <key>U</key>
	    <integer>-70</integer>
	    <key>T</key>
	    <integer>-81</integer>
	    <key>G</key>
	    <integer>-19</integer>
	    <key>D</key>
	    <integer>-34</integer>
	    <key>C</key>
	    <integer>-19</integer>
	    <key>B</key>
	    <integer>-34</integer>
	    <key>A</key>
	    <integer>25</integer>
	    <key>hyphen</key>
	    <integer>-42</integer>
	</dict>
	<key>Y</key>
	<dict>
	    <key>AE</key>
	    <integer>-59</integer>
	    <key>x</key>
	    <integer>-43</integer>
	    <key>M</key>
	    <integer>-24</integer>
	</dict>
	<key>b</key>
	<dict>
	    <key>eth</key>
	    <integer>-22</integer>
	</dict>
	<key>f</key>
	<dict>
	    <key>bracketright</key>
	    <integer>34</integer>
	    <key>question</key>
	    <integer>52</integer>
	    <key>parenright</key>
	    <integer>34</integer>
	</dict>
	<key>j</key>
	<dict>
	    <key>eth</key>
	    <integer>-18</integer>
	</dict>
	<key>o</key>
	<dict>
	    <key>eth</key>
	    <integer>-11</integer>
	</dict>
	<key>p</key>
	<dict>
	    <key>eth</key>
	    <integer>-22</integer>
	</dict>
	<key>q</key>
	<dict>
	    <key>oe</key>
	    <integer>-11</integer>
	    <key>ohungarumlaut</key>
	    <integer>-11</integer>
	    <key>obreve</key>
	    <integer>-11</integer>
	    <key>omacron</key>
	    <integer>-11</integer>
	    <key>gcommaaccent</key>
	    <integer>17</integer>
	    <key>gdotaccent</key>
	    <integer>17</integer>
	    <key>gbreve</key>
	    <integer>17</integer>
	    <key>gcircumflex</key>
	    <integer>17</integer>
	    <key>dcroat</key>
	    <integer>-8</integer>
	    <key>dcaron</key>
	    <integer>-8</integer>
	    <key>aogonek</key>
	    <integer>-8</integer>
	    <key>abreve</key>
	    <integer>-8</integer>
	    <key>amacron</key>
	    <integer>-8</integer>
	    <key>oslash</key>
	    <integer>-11</integer>
	    <key>odieresis</key>
	    <integer>-11</integer>
	    <key>otilde</key>
	    <integer>-11</integer>
	    <key>ocircumflex</key>
	    <integer>-11</integer>
	    <key>oacute</key>
	    <integer>-11</integer>
	    <key>ograve</key>
	    <integer>-11</integer>
	    <key>ae</key>
	    <integer>-8</integer>
	    <key>aring</key>
	    <integer>-8</integer>
	    <key>adieresis</key>
	    <integer>-8</integer>
	    <key>atilde</key>
	    <integer>-8</integer>
	    <key>acircumflex</key>
	    <integer>-8</integer>
	    <key>aacute</key>
	    <integer>-8</integer>
	    <key>agrave</key>
	    <integer>-8</integer>
	    <key>q</key>
	    <integer>-8</integer>
	    <key>o</key>
	    <integer>-11</integer>
	    <key>g</key>
	    <integer>17</integer>
	    <key>e</key>
	    <integer>-11</integer>
	    <key>d</key>
	    <integer>-8</integer>
	    <key>c</key>
	    <integer>-11</integer>
	    <key>a</key>
	    <integer>-8</integer>
	</dict>
	<key>r</key>
	<dict>
	    <key>eth</key>
	    <integer>-23</integer>
	    <key>x</key>
	    <integer>-10</integer>
	</dict>
	<key>v</key>
	<dict>
	    <key>eth</key>
	    <integer>-22</integer>
	    <key>x</key>
	    <integer>-20</integer>
	</dict>
	<key>w</key>
	<dict>
	    <key>eth</key>
	    <integer>-22</integer>
	    <key>x</key>
	    <integer>-20</integer>
	</dict>
	<key>guillemotright</key>
	<dict>
	    <key>X</key>
	    <integer>-34</integer>
	</dict>
	<key>Agrave</key>
	<dict>
	    <key>p</key>
	    <integer>-21</integer>
	</dict>
	<key>Aacute</key>
	<dict>
	    <key>p</key>
	    <integer>-21</integer>
	</dict>
	<key>Acircumflex</key>
	<dict>
	    <key>p</key>
	    <integer>-21</integer>
	</dict>
	<key>Atilde</key>
	<dict>
	    <key>p</key>
	    <integer>-21</integer>
	</dict>
	<key>Adieresis</key>
	<dict>
	    <key>p</key>
	    <integer>-21</integer>
	</dict>
	<key>Aring</key>
	<dict>
	    <key>p</key>
	    <integer>-21</integer>
	</dict>
	<key>Eth</key>
	<dict>
	    <key>AE</key>
	    <integer>-27</integer>
	    <key>X</key>
	    <integer>-33</integer>
	</dict>
	<key>Ntilde</key>
	<dict>
	    <key>M</key>
	    <integer>-14</integer>
	</dict>
	<key>Ograve</key>
	<dict>
	    <key>X</key>
	    <integer>-10</integer>
	    <key>M</key>
	    <integer>-10</integer>
	</dict>
	<key>Oacute</key>
	<dict>
	    <key>X</key>
	    <integer>-10</integer>
	    <key>M</key>
	    <integer>-10</integer>
	</dict>
	<key>Ocircumflex</key>
	<dict>
	    <key>X</key>
	    <integer>-10</integer>
	    <key>M</key>
	    <integer>-10</integer>
	</dict>
	<key>Otilde</key>
	<dict>
	    <key>X</key>
	    <integer>-10</integer>
	    <key>M</key>
	    <integer>-10</integer>
	</dict>
	<key>Odieresis</key>
	<dict>
	    <key>X</key>
	    <integer>-10</integer>
	    <key>M</key>
	    <integer>-10</integer>
	</dict>
	<key>Oslash</key>
	<dict>
	    <key>X</key>
	    <integer>-10</integer>
	    <key>M</key>
	    <integer>-10</integer>
	</dict>
	<key>Ugrave</key>
	<dict>
	    <key>p</key>
	    <integer>-26</integer>
	</dict>
	<key>Uacute</key>
	<dict>
	    <key>p</key>
	    <integer>-26</integer>
	</dict>
	<key>Ucircumflex</key>
	<dict>
	    <key>p</key>
	    <integer>-26</integer>
	</dict>
	<key>Udieresis</key>
	<dict>
	    <key>p</key>
	    <integer>-26</integer>
	</dict>
	<key>Yacute</key>
	<dict>
	    <key>AE</key>
	    <integer>-59</integer>
	    <key>x</key>
	    <integer>-43</integer>
	    <key>M</key>
	    <integer>-24</integer>
	</dict>
	<key>Thorn</key>
	<dict>
	    <key>Ydieresis</key>
	    <integer>-83</integer>
	    <key>Ycircumflex</key>
	    <integer>-83</integer>
	    <key>Wcircumflex</key>
	    <integer>-77</integer>
	    <key>Aogonek</key>
	    <integer>-24</integer>
	    <key>Abreve</key>
	    <integer>-24</integer>
	    <key>Amacron</key>
	    <integer>-24</integer>
	    <key>Yacute</key>
	    <integer>-83</integer>
	    <key>Aring</key>
	    <integer>-24</integer>
	    <key>Adieresis</key>
	    <integer>-24</integer>
	    <key>Atilde</key>
	    <integer>-24</integer>
	    <key>Acircumflex</key>
	    <integer>-24</integer>
	    <key>Aacute</key>
	    <integer>-24</integer>
	    <key>Agrave</key>
	    <integer>-24</integer>
	    <key>Y</key>
	    <integer>-83</integer>
	    <key>W</key>
	    <integer>-77</integer>
	    <key>V</key>
	    <integer>-77</integer>
	    <key>A</key>
	    <integer>-24</integer>
	    <key>period</key>
	    <integer>-77</integer>
	    <key>comma</key>
	    <integer>-77</integer>
	</dict>
	<key>eth</key>
	<dict>
	    <key>oe</key>
	    <integer>-11</integer>
	    <key>ohungarumlaut</key>
	    <integer>-11</integer>
	    <key>obreve</key>
	    <integer>-11</integer>
	    <key>omacron</key>
	    <integer>-11</integer>
	    <key>oslash</key>
	    <integer>-11</integer>
	    <key>odieresis</key>
	    <integer>-11</integer>
	    <key>otilde</key>
	    <integer>-11</integer>
	    <key>ocircumflex</key>
	    <integer>-11</integer>
	    <key>oacute</key>
	    <integer>-11</integer>
	    <key>ograve</key>
	    <integer>-11</integer>
	    <key>o</key>
	    <integer>-11</integer>
	    <key>e</key>
	    <integer>-11</integer>
	    <key>c</key>
	    <integer>-11</integer>
	</dict>
	<key>ograve</key>
	<dict>
	    <key>eth</key>
	    <integer>-11</integer>
	</dict>
	<key>oacute</key>
	<dict>
	    <key>eth</key>
	    <integer>-11</integer>
	</dict>
	<key>ocircumflex</key>
	<dict>
	    <key>eth</key>
	    <integer>-11</integer>
	</dict>
	<key>otilde</key>
	<dict>
	    <key>eth</key>
	    <integer>-11</integer>
	</dict>
	<key>odieresis</key>
	<dict>
	    <key>eth</key>
	    <integer>-11</integer>
	</dict>
	<key>oslash</key>
	<dict>
	    <key>eth</key>
	    <integer>-11</integer>
	</dict>
	<key>thorn</key>
	<dict>
	    <key>eth</key>
	    <integer>-22</integer>
	</dict>
	<key>Amacron</key>
	<dict>
	    <key>p</key>
	    <integer>-21</integer>
	</dict>
	<key>Abreve</key>
	<dict>
	    <key>p</key>
	    <integer>-21</integer>
	</dict>
	<key>Aogonek</key>
	<dict>
	    <key>p</key>
	    <integer>-21</integer>
	</dict>
	<key>Cacute</key>
	<dict>
	    <key>M</key>
	    <integer>-10</integer>
	</dict>
	<key>Ccircumflex</key>
	<dict>
	    <key>M</key>
	    <integer>-10</integer>
	</dict>
	<key>Cdotaccent</key>
	<dict>
	    <key>M</key>
	    <integer>-10</integer>
	</dict>
	<key>Ccaron</key>
	<dict>
	    <key>M</key>
	    <integer>-10</integer>
	</dict>
	<key>Dcaron</key>
	<dict>
	    <key>AE</key>
	    <integer>-27</integer>
	    <key>X</key>
	    <integer>-33</integer>
	</dict>
	<key>dcaron</key>
	<dict>
	    <key>question</key>
	    <integer>34</integer>
	</dict>
	<key>Dcroat</key>
	<dict>
	    <key>AE</key>
	    <integer>-27</integer>
	    <key>X</key>
	    <integer>-33</integer>
	</dict>
	<key>Gcircumflex</key>
	<dict>
	    <key>X</key>
	    <integer>-29</integer>
	    <key>M</key>
	    <integer>-12</integer>
	</dict>
	<key>Gbreve</key>
	<dict>
	    <key>X</key>
	    <integer>-29</integer>
	    <key>M</key>
	    <integer>-12</integer>
	</dict>
	<key>Gdotaccent</key>
	<dict>
	    <key>X</key>
	    <integer>-29</integer>
	    <key>M</key>
	    <integer>-12</integer>
	</dict>
	<key>Gcommaaccent</key>
	<dict>
	    <key>X</key>
	    <integer>-29</integer>
	    <key>M</key>
	    <integer>-12</integer>
	</dict>
	<key>IJ</key>
	<dict>
	    <key>AE</key>
	    <integer>-25</integer>
	    <key>x</key>
	    <integer>-17</integer>
	    <key>M</key>
	    <integer>-21</integer>
	</dict>
	<key>ij</key>
	<dict>
	    <key>eth</key>
	    <integer>-18</integer>
	</dict>
	<key>Jcircumflex</key>
	<dict>
	    <key>AE</key>
	    <integer>-25</integer>
	    <key>x</key>
	    <integer>-17</integer>
	    <key>M</key>
	    <integer>-21</integer>
	</dict>
	<key>jcircumflex</key>
	<dict>
	    <key>eth</key>
	    <integer>-18</integer>
	</dict>
	<key>lcaron</key>
	<dict>
	    <key>question</key>
	    <integer>34</integer>
	</dict>
	<key>Nacute</key>
	<dict>
	    <key>M</key>
	    <integer>-14</integer>
	</dict>
	<key>Ncommaaccent</key>
	<dict>
	    <key>M</key>
	    <integer>-14</integer>
	</dict>
	<key>Ncaron</key>
	<dict>
	    <key>M</key>
	    <integer>-14</integer>
	</dict>
	<key>Eng</key>
	<dict>
	    <key>AE</key>
	    <integer>-25</integer>
	    <key>x</key>
	    <integer>-17</integer>
	    <key>M</key>
	    <integer>-21</integer>
	</dict>
	<key>eng</key>
	<dict>
	    <key>eth</key>
	    <integer>-18</integer>
	</dict>
	<key>Omacron</key>
	<dict>
	    <key>X</key>
	    <integer>-10</integer>
	    <key>M</key>
	    <integer>-10</integer>
	</dict>
	<key>omacron</key>
	<dict>
	    <key>eth</key>
	    <integer>-11</integer>
	</dict>
	<key>Obreve</key>
	<dict>
	    <key>X</key>
	    <integer>-10</integer>
	    <key>M</key>
	    <integer>-10</integer>
	</dict>
	<key>obreve</key>
	<dict>
	    <key>eth</key>
	    <integer>-11</integer>
	</dict>
	<key>Ohungarumlaut</key>
	<dict>
	    <key>X</key>
	    <integer>-10</integer>
	    <key>M</key>
	    <integer>-10</integer>
	</dict>
	<key>ohungarumlaut</key>
	<dict>
	    <key>eth</key>
	    <integer>-11</integer>
	</dict>
	<key>racute</key>
	<dict>
	    <key>eth</key>
	    <integer>-23</integer>
	    <key>x</key>
	    <integer>-10</integer>
	</dict>
	<key>rcommaaccent</key>
	<dict>
	    <key>eth</key>
	    <integer>-23</integer>
	    <key>x</key>
	    <integer>-10</integer>
	</dict>
	<key>rcaron</key>
	<dict>
	    <key>eth</key>
	    <integer>-23</integer>
	    <key>x</key>
	    <integer>-10</integer>
	</dict>
	<key>Tcommaaccent</key>
	<dict>
	    <key>AE</key>
	    <integer>-42</integer>
	    <key>o</key>
	    <integer>-43</integer>
	    <key>M</key>
	    <integer>-17</integer>
	</dict>
	<key>Tcaron</key>
	<dict>
	    <key>AE</key>
	    <integer>-42</integer>
	    <key>o</key>
	    <integer>-43</integer>
	    <key>M</key>
	    <integer>-17</integer>
	</dict>
	<key>tcaron</key>
	<dict>
	    <key>lcaron</key>
	    <integer>82</integer>
	    <key>lcommaaccent</key>
	    <integer>82</integer>
	    <key>lacute</key>
	    <integer>82</integer>
	    <key>l</key>
	    <integer>82</integer>
	    <key>b</key>
	    <integer>82</integer>
	</dict>
	<key>Tbar</key>
	<dict>
	    <key>AE</key>
	    <integer>-42</integer>
	    <key>o</key>
	    <integer>-43</integer>
	    <key>M</key>
	    <integer>-17</integer>
	</dict>
	<key>Utilde</key>
	<dict>
	    <key>p</key>
	    <integer>-26</integer>
	</dict>
	<key>Umacron</key>
	<dict>
	    <key>p</key>
	    <integer>-26</integer>
	</dict>
	<key>Ubreve</key>
	<dict>
	    <key>p</key>
	    <integer>-26</integer>
	</dict>
	<key>Uring</key>
	<dict>
	    <key>p</key>
	    <integer>-26</integer>
	</dict>
	<key>Uhungarumlaut</key>
	<dict>
	    <key>p</key>
	    <integer>-26</integer>
	</dict>
	<key>Uogonek</key>
	<dict>
	    <key>p</key>
	    <integer>-26</integer>
	</dict>
	<key>Wcircumflex</key>
	<dict>
	    <key>AE</key>
	    <integer>-84</integer>
	    <key>x</key>
	    <integer>-19</integer>
	    <key>M</key>
	    <integer>-24</integer>
	</dict>
	<key>wcircumflex</key>
	<dict>
	    <key>eth</key>
	    <integer>-22</integer>
	    <key>x</key>
	    <integer>-20</integer>
	</dict>
	<key>Ycircumflex</key>
	<dict>
	    <key>AE</key>
	    <integer>-59</integer>
	    <key>x</key>
	    <integer>-43</integer>
	    <key>M</key>
	    <integer>-24</integer>
	</dict>
	<key>Ydieresis</key>
	<dict>
	    <key>AE</key>
	    <integer>-59</integer>
	    <key>x</key>
	    <integer>-43</integer>
	    <key>M</key>
	    <integer>-24</integer>
	</dict>
	<key>endash</key>
	<dict>
	    <key>X</key>
	    <integer>-34</integer>
	</dict>
	<key>emdash</key>
	<dict>
	    <key>X</key>
	    <integer>-34</integer>
	</dict>
	<key>guilsinglright</key>
	<dict>
	    <key>X</key>
	    <integer>-34</integer>
	</dict>
	<key>f.stump</key>
	<dict>
	    <key>bracketright</key>
	    <integer>34</integer>
	    <key>question</key>
	    <integer>52</integer>
	    <key>parenright</key>
	    <integer>34</integer>
	</dict>
    </dict>
</plist>
